/* Classes */

body {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    min-height: 400px;
    margin: 0;
    box-sizing: border-box;
    background: #000000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

form {
    margin: 0;
}

button {
    cursor: pointer;
    background: #FFFC00;
    width: 280px;
    height: 56px;
    border-style: none;
    border-radius: 26px;

    font-size: 12px;
    font-family: 'AvertaStd', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #000000;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;

    transition: all .2s ease-out;
}

button:hover { 
    transform: scale(1.05); 
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000000;
    width: 50%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    width: 320px;
    height: 340px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #222222;
    width: 50%;
    height: 100%;
}

.demo {
    position: absolute;
}

mark.yellow {
    color:#FFFC00;
    background: none;
}

::selection {
    background: #FFFC00;
    color: #000000; 
}
  
::-moz-selection {
    background: #FFFC00;
    color: #000000; 
}

/* Fonts */

p {
    font-size: 20px;
    font-family: 'AvertaStd', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 32px;
    text-align: center;
    margin: 0;
}

.links {
    font-size: 12px;
    font-family: 'AvertaStd', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #808080;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
}

a {
    color: #808080;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

@font-face { 
    font-family: AvertaStd; font-weight: 700; src: url('resources/AvertaStd-Bold.ttf'); 
} 

@font-face { 
    font-family: AvertaStd; font-weight: 800; src: url('resources/AvertaStd-ExtraBold.ttf'); 
} 

/* Media Queries */

@media only screen and (max-width: 800px) {
    .right {
        display: none;
    }
}